<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trabajo Práctico n°2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>

<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="BuscarPorNombreApellido" placeholder="Ingresar el nombre y apellido a buscar...">
    <br>
    <input type="text" class="form-control" v-model="buscarPorDni" placeholder="Ingresar el DNI a buscar...">
    <br>
    <div v-if="showAlert()">
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <Strong>Advertencia: debe ingresar al menos 3 caracteres.</Strong>
        </div>
    </div>

    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            buscarPorNombreApellido: '',
            buscarPorDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
            {
                    nombre: "Friedrich",
                    apellido: "Nietzsche",
                    correo: "friedrichnietzsche@hotmail.com",
                    dni: "93393939"
                },
                {
                    nombre: "Marcelo",
                    apellido: "Fox",
                    correo: "marcelofox@gmail.com",
                    dni: "9999999"
                },
                {
                    nombre: "Jim",
                    apellido: "Carrey",
                    correo: "jimcarrey@gmail.com",
                    dni: "33333333"
                },
                {
                    nombre: "John",
                    apellido: "Bonham",
                    correo: "johnbonham@gmail.com",
                    dni: "39939393"
                },
            ]

        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {

                    let registroNombreApellido = `${persona.nombre} ${persona.apellido}`
                    let registroDni = `${persona.dni}`

                    return !this.shorAlert() ? registroNombreApellido.toLowerCase.includes(this.buscarPorNombreApellido.toLowerCase())
                            && registroDni.toLowerCase().includes(this.buscarPorDni.toLowerCase()) : this.showAlert()
                    
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            },

            showAlert() {
                const CAR_MIN = 3
                return ((this.buscarPorNombreApellido.toString().lenght > 0 ||  this.buscarPorDni.toString().lenght > 0) && 
                    (this.buscarPorNombreApellido.toString().lenght < CAR_MIN && this.buscarPorDni.toString().lenght < CAR_MIN)) 
            }
        }
    });

</script>
